<h1>{{title}}</h1>

<form id="converterForm" method="POST" action="/convert" target="responsive-paper-preview">
    <input id="value" type="hidden" name="value" />
    <div class="form-group">
        <label for="">API Key</label>
        <input type="text" name="apikey" id="" class="form-control" placeholder="" required value="{{apikey}}">
        <small id="helpId" class="text-muted">Need an
            <a href="">API Key?</a>
        </small>
    </div>
    <div class="form-group">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li>
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1"> URL Conversion</a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-2">HTML Conversion</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active show">
                    <div class="panel-body">

                        <label for="">Url to convert</label>
                        <input type="text" id="url" class="form-control" placeholder="" aria-describedby="helpId"
                            required value="{{url}}">
                        <small id="helpId" class="text-muted">We will never store your url request history.</small>
                    </div>
                </div>
                <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="panel-body">
                                <div id="editor" style="width: 100%; height: 400px;"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" id="demo1">Simple basic report</a> <a target="responsive-paper-docs"
                                href="/docs/responsive-paper-css.html#page">?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="wrapRpTheme"
                                        name="wrapRpTheme">
                                    <label class="custom-control-label" for="wrapRpTheme">Wrap with Responsive Paper
                                        Theme</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>



    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="">Format (leave blank to use report default):</label>
                <select class="form-control" name="format" id="">

                    {{#each formats}}
                    <option {{#if this.selected}} selected {{/if}}>{{this.value}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="landscape" name="landscape">
                    <label class="custom-control-label" for="landscape">Landscape</label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="printMedia" name="printMedia">
                    <label class="custom-control-label" for="printMedia">Print Media</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="debug" name="debug"
                        {{#if debug}}checked="true" {{/if}}>
                    <label class="custom-control-label" for="debug">Include Logs</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="">Version (leave blank for latest):</label>
                <input type="text" id="version" class="form-control" placeholder="" value="{{version}}" name="version">
            </div>
        </div>

    </div>
    {{!--
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="waitForJs" name="waitForJs">
            <label class="custom-control-label" for="waitForJs">Wait For JS</label>
        </div>
        <small id="helpId" class="text-muted">Pdf will not begin until window.RESPONSIVE_PAPER_READY_TO_RENDER=true</small>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="devMode" name="devMode">
            <label class="custom-control-label" for="devMode">Dev Mode</label>
        </div>
        <small id="helpId" class="text-muted">Pdf will displayed as html with console messages</small>
    </div>
    <div class="form-group">
        <label for="">Report element query selector:</label>
        <input type="text" name="selector" id="" class="form-control" placeholder="" aria-describedby="selectorHelp">
        <small id="selectorHelp" class="text-muted">By default the entire body content will be rendered. You can select a
            subsection of the the html by entering a valid
            <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Document_object_model/Locating_DOM_elements_using_selectors">query
                selector
            </a> .</small>
    </div> --}}
    <button type="submit " class="btn btn-primary ">Preview to new tab</button>
</form>


<div style="display: none">
    <div id="demo1src">
        <div class="rjs-page">


        </div>

    </div>
    <div id="content1">
        <p>Invoice</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- data -->
    <script>
        var orderItems = [
            {

            }
        ]

    </script>
</div>

{{#section 'style'}}
{{!-- <link href="/lib/codemirror/codemirror.css" rel="stylesheet"> --}}
{{/section}}
{{#section 'script'}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script>
    window.onload = function () {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/html");
        editor.setOptions({
            fontSize: "16px"
        })
        document.getElementById("converterForm").onsubmit = function () {
            valueEl = document.querySelector('#value')
            var el = document.querySelector('.tab-pane.active.show')
            if (el.id === 'tab-2') {
                //copy editor to value element
                valueEl.value = editor.getValue()
            }
            else {
                //copy url to value element
                valueEl.value = document.querySelector('#url').value
            }
        }

    }

</script>
{{/section}}