<h1>Logs</h1>

{{!-- <pre>
  {{{logs}}}
</pre> --}}
<ul class="log-list">
  {{#each logs}}


  <li>{{this.timestamp}} {{this.message}}</li>
  {{/each}}
</ul>

<h2>ENV</h2>

{{{config}}}

<h2>
  Browser Pool
</h2>

{{{pagePool}}}