<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <p>

            <img width="200" src="/images/logo.png" style="margin: auto" />

        </p>
        {{# if errors }} {{# each errors }}
        <p class="alert alert-danger">{{ this }}</p>
        {{/each}} {{/if}} {{# unless errors}}
        <p>Hi {{displayname}}, please enter your new password below.</p>
        {{/unless}}
        <form class="m-t" role="form" action="/user/change-password?token={{resetToken}}" method="POST">
            <input name="username" type="hidden" value="{{email}}">
            <input name="displayname" type="hidden" value="{{displayname}}">
            <div class="form-group ">
                <input type="password" class="form-control " placeholder="Password " required=" " name="password">
            </div>
            <button type="submit " class="btn btn-primary block full-width m-b ">Reset password</button>

            <p class="text-muted text-center ">
                <small>Don't have an account?
                    <a href="/user/signup ">Sign up</a>
                </small>
            </p>
        </form>

    </div>
</div>