<div class="blankpage-form-field">

    <div
        class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
            <img src="/images/logo.png" alt="Responsive Paper" aria-roledescription="logo">
            <span class="page-logo-text mr-1">Responsive Paper</span>
        </a>
    </div>
    <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">


        <div class="blankpage-header">
            {{# if errors }} {{# each errors }}
            <p class="alert alert-danger">{{ this }}</p>
            {{/each}} {{/if}}

        </div>
        {{# if errors }} {{# each errors }}
        <p class="alert alert-danger">{{ this }}</p>
        {{/each}} {{/if}} {{# unless errors}}
        <p>Hi {{displayname}}, please enter your new password below.</p>
        {{/unless}}
        <form class="m-t" role="form" action="/user/change-password?token={{resetToken}}" method="POST">
            <input name="username" type="hidden" value="{{email}}">
            <input name="displayname" type="hidden" value="{{displayname}}">
            <div class="form-group ">
                <input type="password" class="form-control " placeholder="Password " required=" " name="password">
            </div>
            <button type="submit " class="btn btn-primary block full-width m-b ">Reset password</button>


        </form>

    </div>

</div>