<main id="js-page-content" role="main" class="page-content">

  <div class="subheader">
    <h1 class="subheader-title">
      <i class='subheader-icon fal fa-'></i><a href="/user/add-plan">Choose Plan</a> > <a
        href="/user/payment-method">Payment</a> > <a href="#">Confirm
        Subscription</a>
    </h1>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-container show">
          <div class="panel-content centered-page">

            <p>You've selected the <strong>{{this.plan.name}} plan</strong> for <strong>{{this.plan.price}}</strong> per
              month.
            </p>

            <p>Your account will be billed on the <strong>{{this.recurDateDescr}} day of the month</strong>. You may
              cancel at
              any time for a
              prorated rebate based on credits used.</p>
            <p>Please click "Confirm Subscription" button below to start your subscription using your
              <strong>{{this.paymentMethodDescr}}</strong></p>
            {{# if this.errorMessage }}
            <p class="alert alert-danger">{{ this.errorMessage }}</p>
            {{/if}}
            <div style="display: none;" id="dropin-container"></div>
            <form id="confirmForm" method="POST">
              <input id="confirm-btn" class="btn btn-primary" type="submit" value="Confirm Subscription">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{#contentFor 'pageScripts'}}
<script>

  var confirmBtn = document.querySelector('#confirm-btn');
  confirmBtn.addEventListener('click', function (e) {
    e.preventDefault();
    confirmBtn.setAttribute('disabled', "true");
    confirmBtn.value = 'Processing...';
    document.getElementById('confirmForm').submit();
  });

</script>

{{/contentFor}}