{{# if successMessage }}
<p class="alert alert-success">{{ successMessage }}</p>
{{/if}}
<h2>My Dashboard</h2>
{{#each subscriptions}}
<hr>
<h2>{{this.name}} Plan</h2>
<p>You have used {{this.used_credits}} of {{this.credits}} monthly credits on this plan.</p>
<h3>API Keys</h3>
<table>
  <thead>
    <tr>
      <th style="width: 200px">Name</th>
      <th style="width: 300px">Api Key</th>
      <th style="width: 100px">Revoked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.apikeys}}
    <tr>
      <td>{{#if this.name}}{{this.name}}{{else}}not set{{/if}}</td>
      <td>{{this.value}}</td>
      <td>{{#if this.revoked}}Yes{{else}}No{{/if}}</td>
      <td><a href="">Usage</a>&nbsp; &nbsp; <a href="">Edit/Revoke</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<hr>
{{/each}}