<main id="js-page-content" role="main" class="page-content">

  <div class="subheader">
    <h1 class="subheader-title">
      <i class='subheader-icon fal fa-home'></i> Dashboard
      <small>
        Listing of your plans and API Keys
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-container show">
          <div class="panel-content">
            {{# if successMessage }}
            <p class="alert alert-success">{{ successMessage }}</p>
            {{/if}}
            <a class='btn btn-primary' href="/user/add-plan">Add a plan</a>
            <hr>
            {{#each subscriptions}}
            <div style="margin-bottom: 1em;" class="card">
              <div class="card-header">
                <h2>{{this.name}} Plan - {{this.status}}
                  {{#ifeq this.status 'Active'}}
                  {{#ifeq this.pricing_plan_id 1}}
                  {{else}}
                  <a href='/user/cancel-subscription/{{this.id}}'><span style='vertical-align: middle;'
                      class="btn btn-sm btn-warning">Cancel</span></a>
                  {{/ifeq}}
                  {{/ifeq}}
                </h2>
              </div>
              <div class="card-body">
                {{#ifeq this.status 'Past Due'}}
                <div class='alert alert-danger'>Your account is past due please <a
                    href='/user/update-payment/{{this.id}}'>update
                    your
                    payment
                    method</a> to
                  continue your service.</div>
                {{/ifeq}}
                {{#ifeq this.pricing_plan_id 1 }}
                <p>Free plans expire once you've used up your credits. If you need further testing, please contact <a
                    href="mailto:support@responsivepaper.com?subject=Free Credit Request ({{this.apikeys.[0].value}})">support@responsivepaper.com</a>
                  for more free credits.</p>
                {{else}}
                {{#ifinc 'Active Past Due Expired' this.status }}
                <p>Your credits will reset to 0 and your <strong>{{this.payment_method_descr}}</strong> will be charged
                  {{this.price}}
                  on
                  {{this.next_charge_date}} - <a href="/user/update-payment/{{this.id}}">update payment method</a>
                  {{/ifinc}}
                  {{/ifeq}}
                </p>

                <p>You have used {{this.used_credits}} of {{this.credits}} credits on this plan.</p>
                <h3>API Keys</h3>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 200px">Name</th>
                      <th style="width: 300px">Api Key</th>
                      <th style="width: 100px">Revoked</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each this.apikeys}}
                    <tr>
                      <td>{{#if this.descr}}{{this.descr}}{{else}}not set{{/if}}</td>
                      <td>{{this.value}}</td>
                      <td>{{#if this.revoked}}Yes{{else}}No{{/if}}</td>
                      <td>{{#if this.revoked}}{{else}}<a
                          href="/user/edit-apikey/{{../id}}/{{id}}/">Edit/Revoke</a>{{/if}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{#ifeq this.status 'Active'}}
                <a href='/user/edit-apikey/{{this.id}}/-1'><span style='vertical-align: middle;'
                    class="btn btn-sm btn-primary">New</span></a>
                {{/ifeq}}
              </div>
            </div>
            {{/each}}


          </div>
        </div>
      </div>


    </div>
  </div>
</main>
<!-- this overlay is activated only when mobile menu is triggered -->
<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
<!-- END Page Content -->