<main id="js-page-content" role="main" class="page-content">

  <div class="subheader">
    <h1 class="subheader-title">
      <i class='subheader-icon fal fa-'></i> {{#if id}}
      Edit API Key - {{value}}
      {{else}}
      Create API Key
      {{/if}}
    </h1>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-container show">
          <div class="panel-content">


            <div class="row">
              <div class="col-lg-4">
                <form class="edit-form" method="POST">
                  <input type="hidden" id="subscriptionId" name="subscriptionId" value="{{this.subscriptionId}}" />
                  <input type="hidden" name="id" value="{{this.id}}" />

                  <div class="form-group">
                    <label for="">Name</label>
                    <input required type="text" name="descr" id="" class="form-control" placeholder=""
                      value="{{descr}}">
                  </div>
                  <div class="form-group">
                    <button class='btn btn-primary btn-sm' type="submit">Save</button>
                    <a href="/user/dashboard" class='btn btn-default btn-sm'>Cancel</a>
                  </div>
                  {{#if id}}
                  <div class="form-group">
                    <a class='btn btn-danger btn-sm' id="revoke-btn" href="/user/edit-apikey/revoke/{{id}}">Revoke</a>
                  </div>
                  {{/if}}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{#contentFor 'pageScripts'}}
<script>

  var revokeBtn = document.querySelector('#revoke-btn');
  revokeBtn.addEventListener('click', function (e) {


    if (!window.confirm('Revoke API Key?')) {
      e.preventDefault();
    }
  })

</script>
{{/contentFor}}